@model PatientDomain.Entities.Patient
@{
}
<div class="movie-detail w-80 m-auto">

    <div class="detail-container">
        <h3>@Model.Name</h3>
        <h4>@Model.Age</h4>
        <h4>@Model.PhoneNumber</h4>
        <h4>Email : @Model.Email</h4>
        <h4>Gender : @Model.Gender</h4>
    </div>
</div>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>